*{
    margin: 0;
    padding: 0;
}
.banner img{
    max-width: 100%;
    left: 140px;
    top: -1000px;
    position: sticky;
    -webkit-box-shadow: 5px 5px 28px 12px #000000; 
    box-shadow: 5px 0px 28px 12px #000000;
    z-index: 3;
    animation-name: showup;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}


 
nav{
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
    opacity: 0.9;
    animation-name: showup1;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: both;
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
    
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    

}
nav li{
    width: 18.5%;
    display: inline-block;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 7px #1e1e1e;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
    text-align: center;
    
}
nav li a{
    text-decoration: none;
    color: #282828;
    
    
}
.nav li a:hover{
opacity: 0.7;
}

body{
    background-image: linear-gradient(90deg, #8bdb7b 33.33%, #fcfcfc 33.33%, #fcfcfc 50%, #8bdb7b 50%, #8bdb7b 83.33%, #fcfcfc 83.33%, #fcfcfc 100%);
    background-size: 120.00px 120.00px;
    background-size: 180.00px 180.00px;
}





#menuglowne{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    justify-self: center;
    align-self: center;
    background-color: #68686871;
    grid-gap: 20px;
}
#menuglowne div{
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.button {
    background-color: #647364;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 125px;
  }
  .box1 img{
    position: relative;
    

  }
.box1{
    border:  1px solid #1e1e1e5f;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.084);
    
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    border-radius: 15px;

}
.box2{
    text-align: center;
    border:  1px solid #1e1e1e5f;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.198);
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
-moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
border-radius: 15px;

}
.box3{
    text-align: center;
    border:  1px solid #1e1e1e5f;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.198);
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
-moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
border-radius: 15px;

}
.box4{
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 15px;

}
.box5{
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 15px;

}
.box6{
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 15px;

}
.box7{
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 15px;
}
.box8{
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 35px 7px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 15px;
}
.box9{
    text-align: center;
}